# Data Science Tools and Ecosystem #

## In this notebook, Data Science Tools and Ecosystem are summarized ##

### Some of the popular languages that Data Scientists use are: ###
1. R
2. Phython
3. SQL
4. Julia

### Some of the commonly used libraries used by Data Scientists include: ###

1. Pandas
2. Keras
3. Numpy
4. Scikit-learn.

### Data Science Tools ###

In [2]:
import pandas as pd

In [3]:
data = { "Data Science Tools" : ["MySQL","AirFlow","Kibana"]}

In [4]:
pd.DataFrame(data)

  Data Science Tools
0              MySQL
1            AirFlow
2             Kibana

### Below are a few examples of evaluating arithmetic expressions in Python ###

#### This a simple arithmetic expression to mutiply then add integers ####

In [5]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60 ####

In [6]:
200/60

3.3333333333333335

**Objectives :**

* languages ​​in data science
* data science libraries
* open source tools
* arithmetic expressions
* basic use of JUPITER NOTEBOOK

## Author ##

### LUCIANO ENRIQUE URTUBIA YAÑEZ ###